<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
			integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../assets/css/styles.css" />
		<title>Modifier le temps</title>
	</head>
	<body>
		<main>
			<div class="logoBox"></div>
			<div class="titleBox">
				<h1 class="title">
					Modification du chronomètre
				</h1>
			</div>
			<div class="chronoContainer">
				<form class="edit-time-sequences">
					<h1>Nombre de séquences de temps</h1>
					<div class="form-group">
						<label for="time-input-1">1 séquence</label>
						<input
							class="sequence-radio"
							id="time-input-1"
							name="sequence"
							type="radio"
							value="1"
						/>
						<label for="time-input-2">2 séquences</label>
						<input
							class="sequence-radio"
							id="time-input-2"
							name="sequence"
							type="radio"
							value="2"
							checked
						/>
					</div>
				</form>

				<form class="edit-time-form">
					<div class="form-group single hidden">
						<div>
							<label for="timeEdit">Nouvelle durée</label>
							<input id="time-input" class="time-input" type="text" autofocus />
						</div>
					</div>
					<div class="form-group dual">
						<div>
							<label for="timeEdit">Durée 1</label>
							<input id="time-input" class="time-input" type="text" autofocus />
						</div>
						<div>
							<label for="timeEdit">Durée 2</label>
							<input id="time-input" class="time-input" type="text" autofocus />
						</div>
					</div>

					<button class="btn" type="submit">Modifier</button>
				</form>
			</div>
		</main>

		<script>
			const {ipcRenderer} = require("electron");
			let sequenceAmount = "2";
			const single = document.querySelector(".single");
			const dual = document.querySelector(".dual");

			const radioInputs = document.querySelectorAll(".sequence-radio");
			const form = document.querySelector(".edit-time-form");

			radioInputs.forEach(radio => {
				radio.addEventListener("change", e => {
					if (e.currentTarget.value === "1") {
						dual.classList.add("hidden");
						single.classList.remove("hidden");
					}
					if (e.currentTarget.value === "2") {
						dual.classList.remove("hidden");
						single.classList.add("hidden");
					}
					sequenceAmount = e.currentTarget.value;
					form.reset();
				});
			});

			form.addEventListener("submit", e => {
				e.preventDefault();
				const timeValues = {sequenceAmount, values: []};
				let timeInputs = "";
				if (sequenceAmount == "1") {
					timeInputs = document.querySelectorAll(".single .time-input");
				} else if (sequenceAmount == "2") {
					timeInputs = document.querySelectorAll(".dual .time-input");
				}

				timeInputs.forEach((input, index) => {
					timeValues.values[index] = input.value;
				});
				console.log(timeValues);
				ipcRenderer.send("chrono:edit-time", timeValues);
			});
		</script>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
